<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Send email</title>
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
</head>
<body>
    <h2 class="text-primary">Hi {{name}}</h2><br>
</hr>
<p class="text-danger">You Booking date is {{checkindate}}</p><br>
<p class="text-danger">And check out Should be {{checkoutdate}}</p></br>
<p>Hotel Address: {{hote_add}}</p>
<h2 class="text-info">Welcome to our Hotel</h2>
</body>
</html>