<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Payment Page</title>
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
</head>
<body>
    <h2 class="container-fluid text-primary">Complete your Payment Here</h2>
    
            <p>{{single_tour.amount}}</p>
    <div class="center">
        <form>
            {% csrf_token %}
            <script src="https://checkout.razorpay.com/v1/payment-button.js" data-payment_button_id="pl_L3wPflIj2QalwT" async> </script> 
        </form>

        <!-- <button class="btn btn-primary">Pay</button><br> -->
       
        
        <!-- RAZORPAY INTEGRATION HERE -->
        </div>
        </div> 
</body>
</html>